html{
	width:100%;
	height:100%;	
}
.segments {
	
}
#pad { 
	position:relative;
	width:100%;
	height:50%;
	background: url("/Pictures/pad.jpg") no-repeat left top fixed; 
    	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#liftoff { 
	position:relative;
	width:100%;
	height:50%;
	  background: url("/Pictures/background.jpg") no-repeat center center fixed; 
	    -webkit-background-size: cover;
	      -moz-background-size: cover;
	        -o-background-size: cover;
		  background-size: cover;
}
#losingEngines { 
	position:relative;
	width:100%;
	height:50%;
	  background: url("/Pictures/losingEngines.jpg") no-repeat center center fixed; 
	    -webkit-background-size: cover;
	      -moz-background-size: cover;
	        -o-background-size: cover;
		  background-size: cover;
}
#inOrbit { 
	position:relative;
	width:100%;
	height:50%;
	  background: url("/Pictures/inOrbit.jpg") no-repeat left top fixed; 
	    -webkit-background-size: cover;
	      -moz-background-size: cover;
	        -o-background-size: cover;
		  background-size: cover;
}
body {
	height:200%;
	width:100%;
	padding:0;
	margin:0;
	overflow-x:hidden;
	color:white;
//	font-family: ‘Courier New’, Courier, monospace;
	letter-spacing:2px;
	font-family:'Open Sans',Arial,Helvetica Neue,sans-serif;
	font-size:20px;
}
#padFooterImg{
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	left:0;
	right:0;
	bottom:20px;
}
#skillSet{
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	position:absolute;
	left:30px;
	top:30%;
	opacity:0;
	width:600px;
}
#skillSetIntro{
	margin-left:auto;
	margin-right:auto;
	font-size:200%;
	left:0;
	right:0;
}
#skillUl{
	display:inline-block;
	font-size:150%;
	text-align:center;
	margin-top : 10px;
}
#skillLi{
	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	opacity:0;
}
#inOrbitIntro,#losingEnginesIntro  ,#liftoffIntro{
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	opacity:0;
	top:30px;
	font-size:20px;
	letter-spacing:4px;
	width:70%;
	text-align:center;
}

#padIntro{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	top:30%;
	font-size:20px;
	letter-spacing:4px;
	width:70%;
	text-align:center;
}
#padFooter{
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	text-align:center;
	left:0;
	right:0;
	font-size:15px;
	bottom:30px;
}
#mePhoto{
	-webkit-animation-duration: 2.5s;
	-moz-animation-duration: 2.5s;
	-o-animation-duration: 2.5s;
	width:10%;
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;

}
#projectSet{
	position:absolute;
	top:20%;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	width:90%;
}
.projectDiv{
	padding:10px;
	background-color:black;
	display:inline-block;
	opacity:0.6;
	border: 1px solid black;
	margin:5px;
	border-radius:15px;
}
.projectDiv:hover{
	margin:10px;	
	opacity:0.8;
}
#projectLeft{
	position:absolute;
	width:45%;
	left:2%;
}
#projectRight{
	position:absolute;
	right:2%;
	width:45%
}
.projectDiv a{
	font-size:20px;
	color:white;
	font-family:'Open Sans',Arial,Helvetica Neue,sans-serif;
}
p{
	text-indent : 100px;	
}
@media (max-width:800px){
#projectSet{
	top:10%;	
	width:100%;
}
.projectDiv{
	padding:5px;	
}
.projectDiv a{
	font-size:12px;	
}
#projectSet{
	font-size:10px;	
}
p{
	text-indent:10px;	
}
#mePhoto{
	width:30%;
}
#padFooter{
	font-size:8px;
}
#padIntro{
	font-size:12px;
	width:100%;
}
#inOrbitIntro,#losingEnginesIntro , #liftoffIntro{
	font-size:12px;
	width:100%;
}
#skillSet{
	top:20%;
	left:0;
	width:100%;
}
#skillSetIntro{
	font-size:15px;
}
#skillUl{
	font-size:14px;
}
}
.typed-cursor{
	  opacity: 1;
	 -webkit-animation: blink 0.7s infinite;
	 -moz-animation: blink 0.7s infinite;
animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
